# .gitignore

# Ignore the virtual environment
venv/

# Ignore .pyc files and __pycache__ directories
*.pyc
__pycache__/

# Ignore .DS_Store files (created by macOS)
.DS_Store

# Ignore database files (if you're using SQLite)
*.db
*.sqlite3

# Ignore log files
*.log

# Ignore the instance folder (if you're using Flask and have an instance folder)
instance/

# Ignore the .env file (if you're using one to store environment variables)
.env

# Ignore IDE-specific files
.idea/
*.swp
*.swo
*.swn
.vscode/